*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(./assets/BG\ \ MOBILE\ EMANUEL\ \(2\).gif);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover:  rgba(187, 0, 0, 0.737);
  --highlight-color: rgba(187, 0, 0, 0.737);
  --contor-color: rgba(240, 240, 240, 0.945);
  --switch-bg-url: url(./assets/moon-stars.svg);}

.light{
  --text-color: size bold rgb(0, 0, 0);
 --bg-url: url(./assets/BG\ \ MOBILE\ EMANUEL\ light.gif);
 --stroke-color: rgba(0, 0, 0, 0.603);
 --surface-color: rgba(238, 238, 238, 0.706);
  --surface-color-hover:  rgba(141, 45, 1, 0.465);
  --highlight-color: rgba(15, 0, 62, 0.706);
  --contor-color: rgba(200, 0, 0, 0.511);
  font-display: bold;
  --switch-bg-url: url(./assets/sun.svg);
}

body{
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*

  /*backgorund: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container{
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img{

  width: 112px;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */
#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button{
  right: 0;
  left: initial;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

/*Links Lista */
ul{
  
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}


ul li a {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 2px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

/*pseudo-selector*/
ul li  a:hover{
  background: var(--surface-color-hover);
  border: 2.5px solid var(--contor-color);
}

/*SOCIAL-LINKS*/
#social-links{
  display: flex;
  justify-content:  center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: backgorund 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
 background: var(--surface-color-hover);
 border: 1.5px solid var(--contor-color);
 padding: 16px;
}

footer{
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}